{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="main">
        <div class="form-group">
            <ol class="breadcrumb">
                
                <li><a href="{% url 'schedules:index' %}">Agenda</a></li>
                / <a href="">Editar Agendamento ({{ schedule.name }} - {{ schedule.date_schedule }} das {{ schedule.date_schedule_start }} às {{ schedule.date_schedule_end }})</a>
                
            </ol>
        </div>
        <div class="form-group">
            <form class="form-signin" method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            {{ field.label_tag }}
                        </div>
                        <div class="col-md-2">
                            {{ field }}
                        </div>
                    </div>
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-4" align="center">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-small btn-primary">Salvar Modificações</button>
                            <a href="{% url 'schedules:index' %}" class="btn btn-small btn-default">Voltar</a>
                        </div>
                    </div>
                </div>
            </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}