{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="main">
        <div class="form-group">
            <ol class="breadcrumb">
                {% block breadcrumb %}
                <li><a href="{% url 'schedules:index' %}">Agenda</a></li>
                {% endblock %}
            </ol>
        </div>
        <div class="form-group">
            <h4 class="form-signin-heading">Agendamentos</h4>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Data do Agendamento</td>
                        <td>Hora Início</td>
                        <td>Hora Fim</td>
                        <td>Paciente</td>
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in schedules %}
                    <form class="form-signin" method="post">
                    <tr>
                        
                        <td>
                            <a href="{% url 'schedules:edit' schedule.pk %}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'schedules:delete' schedule.pk %}">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td><a href="{{ schedule.get_absolute_url }}">{{ schedule.date_schedule }}</a></td>
                        <td>{{ schedule.date_schedule_start }}</td>
                        <td>{{ schedule.date_schedule_end }}</td>
                        <td>{{ schedule.name }}</td>

                    </tr>
                    </form>
                    {% empty %}
                    <tr>
                        <td colspan="4">Nenhum agendamento foi realizado na plataforma</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}